<div>
  <%= link_to "articles index", "/articles" %>
</div>
<div>
  <% @articles.each do |article| %>
    <br>
    <div class="border p-1 rounded">
      <%= link_to "Show article #{article.id}", "/articles/#{article.id}" %>
      <%= link_to "Edit Article #{article.id}", "/articles/#{article.id}/edit"%>
    </div>
  <% end %>
</div>
<br>
<div>
  <%= link_to "Create an Article", "/articles/new" %>
</div>
